.model-visualizer {
    height: 75vh;
    width: 70vw;
}

.layer-list {
    height: 75vh;
    border-left: 1px red solid;
    overflow: auto;
}

.reset-button{
    position: fixed;
    right: 1rem;
    top: 11vh;
    z-index: 1000;
}

@media (max-width: 1100px) {
    .model-visualizer{
        width: 100vh;
    }
    .layer-list {
        height: auto;
        border: none;
        overflow: visible;
    }
}