.info-card {
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

.info-card:hover {
    transform: scale(1.05);
}

.info-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-content {
    padding-top: 1rem;
    font-weight: 800;
}