.bordered-down {
    border-bottom: solid 1px black;
    border-radius: 5px;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

/* to look visualy the same as reset button */
.switch-button{
    margin-top: 1vh;
    margin-left: 1rem;
}