.notification {
    position: relative;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 16px 2px var(--neutral-100); */
    background-color: rgb(236, 236, 236);
    width: 50vw;
}

.notification .mark-as-read {
    position: absolute; /*notification musí mít pos relative, aby to fungovalo*/
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}

/* mírné posunutí, aby byla nějaká interakce s tím, že jsme ji vybrali */
.notification:hover{
    transform: translateY(-5px);  
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1); 
}

li{
    list-style: none;
}

.notification-unread {
    border-left: solid rgb(127, 129, 127);
    border-width: 25px;

}

.notification-read {
    border-left: solid rgb(129, 224, 116);
    border-width: 25px;
}

.notification-title {
    border-bottom: solid black 1px;
}
